body{
    box-sizing: border-box;
    margin: 0 auto;
    background-color: aqua;
}
main{
    width: 90%;
    margin: auto;
}
#footer{
    background-color: #487aa1;
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    gap: 320px;
}
.links{
    list-style: none;
}
.footer_link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


